@use './reset';
@use './colors' as c;

.error {
	border: 1px solid tomato;
}

.numeric-days tr td {
	cursor: pointer;
}

.numeric-days tr .active {
	background-color: aqua;
}

.calendar-icon {
	height: 30px;
	width: 30px;
}

.error-text {
	font-size: 1.2rem;
}