.edit-todo-panel {
    display: none;
}

.edit-todo-panel.visible{
    display: block;
}

.edit-todo-input.error {
    border: 1px solid tomato;
}

.numeric-days tr td {
    cursor: pointer;
}

.numeric-days tr .active {
    background-color: aqua;
}
